  <div class="field">
    <label for="sighting_date">Date</label><br>
    <input type="date" name="sighting[date]" id="sighting_date" />
  </div>
  <div class="field">
    <label for="sighting_time">Time</label><br>
    <input type="time" name="sighting[time]" id="sighting_time" />
  </div>
  <div class="field">
    <label for="sighting_animal_id">Animal</label><br>
    <select name="sighting[animal_id]" id="sighting_animal_id"><option value="1">Lion</option></select>
  </div>

  <button>Create Sighting</button>
  <br>
  <button>Close</button>
