/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
  border-collapse: collapse;
  border: 1px black #4CAF50;
}

td, th {
  padding: 3px;
  text-align: center;
}

thead {
  background-color: #4CAF50;
   color: #fff;
   text-align: left;
}

#sightings_map {
  height: 500px;
  width: 500px;
}

.marker-window {
  border: 1px black solid;
}

#overlay{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  opacity:0.6;
  background-color: black;
  z-index: 1;
}

#new_sighting {

  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 250px;
  z-index: 9999;
  background-color: white;
  border: 2px black solid;

}
